[class^=icon-]{
    display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}

.icon-login-kakao{width: 40px;height: 40px; background-image: url('#{$IMG_PATH}/icon-login-kakao.svg');}
.icon-login-apple{width: 40px;height: 40px; background-image: url('#{$IMG_PATH}/icon-login-apple.svg');}
.icon-login-logo{width: 40px;height: 40px; background-image: url('#{$IMG_PATH}/icon-login-logo.svg');}

.icon-back{width: 30px;height: 30px; background-image: url('#{$IMG_PATH}/icon-back.svg');}
.icon-x{width: 30px;height: 30px; background-image: url('#{$IMG_PATH}/icon-x.svg');}
.icon-arrow-right{width: 30px;height: 30px; background-image: url('#{$IMG_PATH}/icon-arrow-right.svg');}
.icon-arrow-right{width: 30px;height: 30px; background-image: url('#{$IMG_PATH}/icon-arrow-right.svg');}
.icon-eye-off{width: 30px;height: 30px; background-image: url('#{$IMG_PATH}/icon-eye-off.svg');}

.icon-more{width: 60px;height: 60px;background-image: url('#{$IMG_PATH}/icon-more.svg');}

.icon-list-empty{width: 50px;height: 50px;background-image: url('#{$IMG_PATH}/icon-list-empty.svg');}