#header{
  flex: 0 0 50px;position: fixed;left: 0;top: 0;right: 0;background: #fff;z-index: $Z_INDEX_HEADER;
  & + #container{padding-top: 50px;}
}

.page-title{font-size: 18px;line-height: 50px;height: 50px;margin-bottom: 0;text-align: center;padding: 0 40px;}

.btn-back{position: absolute;left: 0;top: 50%;transform: translateY(-50%);}