// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// file path
$BASE_PATH: '~@/assets' !default;
$IMG_PATH: '#{$BASE_PATH}/images' !default;
$FONT_PATH: '#{$BASE_PATH}/fonts' !default;

// z-index
$Z_INDEX_HEADER: 10 !default;
$Z_INDEX_SIDEBAR: 11 !default;
$Z_INDEX_MENUBAR: 12 !default;
$Z_INDEX_VOICE_CHOICE: $Z_INDEX_HEADER !default;
$Z_INDEX_GROW_SEED: calc($Z_INDEX_HEADER + 1) !default;

// sidebar
$SIDEBAR_WIDTH: 75px;
