$Z_INDEX_HEADER: 10 !default;
$Z_INDEX_SIDEBAR: 11 !default;
$Z_INDEX_MENUBAR: 12 !default;
$Z_INDEX_VOICE_CHOICE: $Z_INDEX_HEADER !default;
$Z_INDEX_GROW_SEED: calc($Z_INDEX_HEADER + 1) !default;

html,
body{width: 100%;height: 100%;}
body{overflow-x: hidden;}

#app{height: 100%;}

#wrap{height: 100%;display: flex;flex-direction: column;}

#header{
    flex: 0 0 50px;position: fixed;left: 0;top: 0;right: 0;background: #fff;z-index: $Z_INDEX_HEADER;
    & + #container{padding-top: 50px;}
}

#container{flex-grow: 1;height: 100%;}

#main{height: 100%;padding: 30px 30px 0;width: 100%;
    &.p-b-30{
        padding-bottom: calc(constant(safe-area-inset-bottom) + 30px) !important;
        padding-bottom: calc(env(safe-area-inset-bottom) + 30px) !important;
    }
}

.page-title{font-size: 18px;line-height: 50px;height: 50px;margin-bottom: 0;text-align: center;padding: 0 40px;}
.btn-back{position: absolute;left: 0;top: 50%;transform: translateY(-50%);}

.bottom{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 15px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 15px);
}

.container,
.container-fluid{padding-left: 1.875rem;padding-right: 1.875rem;}

.menubar{
    position: fixed;left: 0;right: 0;bottom: 0;
    display: flex;text-align: center;background: #fff;z-index: $Z_INDEX_MENUBAR;
    a{
        flex: 1 1 auto;line-height: 1;color: #aaa;font-size: 11px;letter-spacing: -0.44px;
        padding: 10px 0;
        padding-bottom: calc(constant(safe-area-inset-bottom) + 10px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
        &.active{color: $primary;}
        span{
            text-align: center;vertical-align: top;
            &::before{content: '';display: block;width: 24px;height: 24px;background-repeat: no-repeat;background-position: 0 0;margin: 0 auto 5px;}
        }
    }
    .menu-meditation{
        span::before{background-image: url('../images/icon-gnb-seed-off.svg');}
        &.active span::before{background-image: url('../images/icon-gnb-seed-on.svg');}
    }
    .menu-home{
        span::before{background-image: url('../images/icon-gnb-menu-off.svg');}
        &.active span::before{background-image: url('../images/icon-gnb-menu-on.svg');}
    }
    .menu-my{
        span::before{background-image: url('../images/icon-gnb-person-off.svg');}
        &.active span::before{background-image: url('../images/icon-gnb-person-on.svg');}
    }
}

#footer{
    background: #404040;margin-left: -30px;margin-right: -30px;color: #fff;
    margin-bottom: -30px;padding-bottom: 90px;margin-top: 20px;
}
.company-info{
    font-size: 13px;padding-bottom: 10px;
    dt{clear:left;float: left;}
    dd{text-align: right;margin-bottom: 15px;}
}
.company-info-toggler{
    height: 60px;display: flex;align-items: center;color: #fff;font-size: 18px;position: relative;padding-right: 40px;border-bottom: 1px solid #ccc;margin-bottom: 20px;
    &::before{content: '';background: url('../images/icon-arrow-right.svg') no-repeat 0 0;width: 30px;height: 30px;background-size: contain;position: absolute;right: 0;top: 50%;margin-top: -15px;transform: rotate(90deg);}
    &[aria-expanded="true"]::before{transform: rotate(270deg);}
}
.copyright{font-size: 13px;letter-spacing: -0.52px;}

#aside{flex: 0 0 75px}

